/.bsp/
target/
.meta/
.vscode/
.idea/
.bloop/
.metals/
project/.bloop
project/project
project/target
.DS_Store
note.md
build/
src/main/resources/native/libmilvus-storage.so
src/main/resources/native/libmilvus-storage-jni.so