[submodule "milvus-proto"]
	path = milvus-proto
	url = https://github.com/milvus-io/milvus-proto.git
[submodule "milvus-storage"]
	path = milvus-storage
	url = https://github.com/milvus-io/milvus-storage.git
[submodule "knowhere"]
	path = knowhere
	url = https://github.com/Thor-ChenBiao/knowhere-contrib.git
	branch = spark-milvus/knowhere-jni-pr
